.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
.vscode/
.idea/
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/
*.log
*.tmp
*.temp
*.lock
backup/
Backup/
*.bak
*.toe.bak
*.tox.bak
CrashAutoSave/
Outputs/
Assets/Config.json
Assets/*/*test*
Assets/Video/
tmp/
Temp/
.env
.env*
Logs/
Capture/